{% load i18n static jet_tags %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
{% block html %}<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />

<link rel="stylesheet" type="text/css" href="{% static "jet/css/vendor.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "jet/css/icons/style.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "jet/css/themes/default/base.css" %}" class="base-stylesheet" />
<link rel="stylesheet" type="text/css" href="{% static "jet/css/themes/default/select2.theme.css" %}" class="select2-stylesheet" />
<link rel="stylesheet" type="text/css" href="{% static "jet/css/themes/default/jquery-ui.theme.css" %}" class="jquery-ui-stylesheet" />

{% block extrastyle %}{% endblock %}
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}

<script type="text/javascript" charset="utf-8">
  var DATE_FORMAT = "{% jet_get_date_format %}";
  var TIME_FORMAT = "{% jet_get_time_format %}";
  var DATETIME_FORMAT = "{% jet_get_datetime_format %}";
</script>
<script src="{% static "jet/js/build/bundle.min.js" %}"></script>

{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
  data-admin-utc-offset="{% now "Z" %}">

<!-- Container -->
<div id="container">

  {% if not is_popup %}
  <!-- Header -->
  <div id="header">
    <div id="branding">{% block branding %}{% endblock %}</div>
    {% block usertools %}
    {% if user.is_active and user.is_staff or has_permission %}
    <div id="user-tools">
      {% block welcome-msg %}
        {% trans 'Welcome,' %}
        <strong>{% firstof user.get_short_name user.get_username %}</strong>.
      {% endblock %}
      {% block userlinks %}
        {% if site_url %}
          <a href="{{ site_url }}">{% trans 'View site' %}</a> /
        {% endif %}
        {% if user.is_active and user.is_staff %}
          {% url 'django-admindocs-docroot' as docsroot %}
          {% if docsroot %}
            <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
          {% endif %}
        {% endif %}
        {% if user.has_usable_password %}
        <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
        {% endif %}
        <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
      {% endblock %}
    </div>
    {% endif %}
    {% endblock %}
  </div>
  <!-- END Header -->
  {% block breadcrumbs %}
  <div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
  {% if title %} &rsaquo; {{ title }}{% endif %}
  </div>
  {% endblock %}
  {% endif %}

  {% block messages %}
    {% if messages %}
    <ul class="messagelist">{% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
    {% endfor %}</ul>
    {% endif %}
  {% endblock messages %}

  <!-- Content -->
  <div id="content" class="{% block coltype %}colM{% endblock %}">
    {% block pretitle %}{% endblock %}
    {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
    {% block content %}
    {% block object-tools %}{% endblock %}
    {{ content }}
    {% endblock %}
    {% block sidebar %}{% endblock %}
    <br class="clear" />
  </div>
  <!-- END Content -->

  {% block footer %}<div id="footer"></div>{% endblock %}

  {% jet_delete_confirmation_context %}

  {% if not is_popup %}
    <div class="related-popup-container scrollable">
      <a href="#" class="related-popup-back">
        <span class="related-popup-back-icon icon-arrow-left"></span>
        <span class="related-popup-back-label">{% trans "back" %}</span>
      </a>
      <span class="icon-refresh loading-indicator"></span>
    </div>

    <div class="sidebar-header-wrapper sidebar-dependent">
      <div class="sidebar-header sidebar-dependent">
        <a href="#" class="sidebar-header-menu sidebar-toggle">
          <span class="sidebar-header-menu-icon icon-menu"></span>
          <span class="sidebar-header-menu-icon icon-cross"></span>
        </a>
      </div>
    </div>
    <div class="sidebar sidebar-dependent">
      <div class="sidebar-wrapper scrollable">
        <div class="sidebar-section">
          {% if user.is_active and user.is_staff %}
            <a href="{% url 'admin:index' %}" class="sidebar-link icon">
              <span class="sidebar-link-label">
                <span class="sidebar-link-icon icon-data"></span>
                {% trans 'Home' %}
              </span>
            </a>
          {% endif %}
          {% url 'django-admindocs-docroot' as docsroot %}
          {% if docsroot %}
            <a href="{{ docsroot }}" class="sidebar-link icon">
              <span class="sidebar-link-label">
                <span class="sidebar-link-icon icon-book"></span>
                {% trans 'Documentation' %}
              </span>
            </a>
          {% endif %}
          {% block nav-global %}{% endblock %}
        </div>

        {% if user.is_active and user.is_staff %}
          {% jet_get_menu as app_list %}
          {% if app_list.apps %}
          <ul class="sidebar-menu">
            {% for app in app_list.apps %}
            <li class="treeview
            {% if cl.opts.app_label == app.app_label %}
            active
            {% elif opts.app_label == app.app_label %}
            active
            {% endif %}"
            >
              <a href="#">
                <span>
                {% if app.name != app.app_label|capfirst|escape %}
                  {{ app.name }}
                {% else %}
                  {% trans app.app_label as app_label %}{{ app_label|capfirst|escape }}
                {% endif %}
                </span>
                <span class="sidebar-right icon-arrow-right fa-angle-left"></span>
              </a>
              <ul class="treeview-menu">
                {% for model in app.models %}
                <li class="sidebar-popup-list-item model-{{ model.object_name|lower }}{{ model.current|yesno:" current," }}">
                  <a href="{{ model.admin_url }}">{{ model.name }}</a>
                </li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
          </ul>
          {% endif %}
        {% endif %}
      </div>
      <div class="sidebar-copyright">powered by SMARTSCREEN</div>
    </div>
  {% endif %}

</div>
<!-- END Container -->

</body>
</html>{% endblock %}
